@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

/* Leaflet map fix for Next.js */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 0;
}
